{% extends "registration/base_registration.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Пожалуйста введите новый пароль</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, из-за что
             уже использовался. Запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}