{% extends 'registration/base_registration.html' %}

{% block title %}
    Сбрось пароля
{% endblock %}

{% block content %}
    <h2>Cброс пароля отправлено</h2>
    <p>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным
        вами адресом электронной почты. Вы получите их в ближайшее время.</p>
    <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который вы зарегистрировались, и
        проверьте папку со спамом.</p>
{% endblock %}