{% extends 'blog/base_blog.html' %}

{% block title %}
    Создание поста
{% endblock %}

{% block content %}
    <form action="{% url 'post_create_url' %}" method="post">
        {% csrf_token %}
        {% for foo in form %}
            <div class="form-group">
                {% if foo.errors %}
                    <div class="alert alert-danger">
                        {{ foo.errors }}
                    </div>
                {% endif %}
                {{ foo.label }}
                {{ foo }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">Создать пост</button>
    </form>
{% endblock %}